@model TallinnaRakenduslikKolledz.Models.Kaebus

@{
	ViewData["Title"] = "Editi Kaebuseid";
}

<h1>Kaebused info:</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="EditConfirmed">

			<div class="form-group">
				<label asp-for="Firstname" class="control-label"></label>
				<input asp-for="Firstname" class="form-control"></input>
				<span asp-validation-for="Firstname" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Lastname" class="control-label"></label>
				<input asp-for="Lastname" class="form-control"></input>
				<span asp-validation-for="Lastname" class="text-danger"></span>
			</div>


			<div class="form-group">
				<label asp-for="KuritarvitajadID" class="control-label"></label>
				<input asp-for="KuritarvitajadID" class="form-control"></input>
				<span asp-validation-for="KuritarvitajadID" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="OpilaneVOpetaja" class="control-label"></label>
				<input asp-for="OpilaneVOpetaja" class="form-control"></input>
				<span asp-validation-for="OpilaneVOpetaja" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="KuritarvitajaDescription" class="control-label"></label>
				<input asp-for="KuritarvitajaDescription" class="form-control"></input>
				<span asp-validation-for="KuritarvitajaDescription" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="KuritegevusteArv" class="control-label"></label>
				<input asp-for="KuritegevusteArv" class="form-control"></input>
				<span asp-validation-for="KuritegevusteArv" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Kaebuse" class="control-label"></label>
				<input asp-for="Kaebuse" class="form-control"></input>
				<span asp-validation-for="Kaebuse" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="KaebuseAdmin" class="control-label"></label>
				<input asp-for="KaebuseAdmin" class="form-control"></input>
				<span asp-validation-for="KaebuseAdmin" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="Submit" value="Salvesta muudatused" class="btn btn-primary" />
			</div>

			<div class="form-group">
				<a asp-action="Index">Tühista</a>
			</div>

		</form>
	</div>
</div>