@model TallinnaRakenduslikKolledz.Models.TEKNO

@{

	ViewData["Title"] = "Loo uus Tehnika";

}
<h1>Loo uus Tehnika</h1>
<hr />
<div class=="row">
	<form asp-action="Create">

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="form-group">
			<label asp-for="TeknoNimetus" class="control-label"></label>
			<input asp-for="TeknoNimetus" class="form-control" />
			<span asp-validation-for="TeknoNimetus" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="TeknoDescription" class="control-label"></label>
			<input asp-for="TeknoDescription" class="form-control" />
			<span asp-validation-for="TeknoDescription" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="TeknoArv" class="control-label"></label>
			<input asp-for="TeknoArv" class="form-control" />
			<span asp-validation-for="TeknoArv" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="TeknoID" class="control-label"></label>
			<input asp-for="TeknoID" class="form-control" />
			<span asp-validation-for="TeknoID" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="TeknoHind" class="control-label"></label>
			<input asp-for="TeknoHind" class="form-control" />
			<span asp-validation-for="TeknoHind" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="TeknoAdmin" class="control-label"></label>
			<input asp-for="TeknoAdmin" class="form-control" />
			<span asp-validation-for="TeknoAdmin" class="text-danger"></span>
		</div>
		<divc class="form-group">
			<input type="submit" value="Sisesta" class="btn btn-primary" />
		</divc>
	</form>
</div>

<div>
			<a asp-action="Index">Mine tagasi loendisse</a>
</div>


